*{
    margin: 0;
    padding: 0;
}

/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.text-centre{
    text-align: center;
}
.btn{
background-color: #FD6E0A;
color: #FFFFFF;
border: none;
border-radius: 5px;
padding: 18px 35px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
}

.section-heading{
   /* max-width: 827px; */
   text-align: center;
   margin: 0 auto;
}
.section-heading h2{
 columns: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 30px;
}

#about,#skill,#resume{
    padding-top: 130px;
}



/* header related style  */
header{
    background-color: #FFF8F3;
    background: url(images/developer.png),url(images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
}
nav{
    max-width: 1140px;
    /* border: 2px solid crimson; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    border: 2px solid red;
    margin: 39px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
   max-width: 585px;
}

#banner .banner-content h2{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

#banner .banner-content h1{
   color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;  
}
#banner .banner-content p{
     color: #757575;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}


/* main related style */

/* about me related style */

#about .about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about-info .info-card p{
 color: #757575;
    font-weight: 500;
    font-size: 20px;
}
.about-info .info-card h4{
color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* skills related style */

#skill .skill-container{
max-width: 1140px;
margin: 0 auto;
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 2px solid rebeccapurple; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000044;
}
.skill-card img{
max-width: 44px;
margin-bottom: 30px;
}
.skill-card h3{
    margin-bottom: 20px;
    color: #181818;
    font-weight:700 ;
    font-size: 20px;

}
.skill-card p{
     color: #757575;
    font-weight:500 ;
    font: size 16px; ;
}

/* resume related style  */

#resume .resume-container{
width: 1140px;
margin: 113px auto 0px;
display: flex;
gap: 24px;
}
.resume-container .section-title{
    color:#474747 ;
    font-weight:700 ;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-card{
    max-width: 511px;
    margin-right:47px ;
    margin-bottom: 30px;
}

.resume-card .card-title{
color:#474747 ;
font-weight: 700;
font-size:25px ;
margin-bottom: 10px;
}
.resume-card .card-info{
color:#757575 ;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume-card .card-text{
color:#757575 ;
font-weight:500 ;
font-size:16px ;
margin-bottom: 30px;
}
/* footer related style */

